body {
  margin: 50px;
  align-content: center;
  /* background-color: red; */
}

.details-container {
  /* background-color: blue; */
  margin-top: 10%;
}

.pokemon-details-container {
  background-color: rgba(163, 163, 163, 0.499);
  border-radius: 10px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 350px));
  gap: 10px 20px;
  height: 60%;
  justify-content: center;
}

.grid-item {
}

h2,
h3,
h4 {
  margin: 0;
}

.thumbnail {
  background-color: rgba(10, 69, 28, 0.415);
  border-radius: 10px;
  grid-row: 1 / span 3;
  height: 80%;
  align-self: center;
}
.thumbnail > div {
  position: relative;
  top: 10%;
}

.thumbnail > div > img {
  height: 70%;
  width: 70%;
}

.bio {
  /* background-color: rosybrown; */
  text-align: left;
}

.details-table {
  /* background-color: aqua; */
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
}

.training-container {
  /* background-color: hotpink; */
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  text-align: left;
}

.evolution-chain {
  /* background-color: indianred; */
  grid-column: 2 / span 2;
}

.evolution-chain-container {
  display: grid;
  /* grid-template-columns: repeat(3, minmax(100px, 1fr)); */
  grid-template: repeat(1, minmax(100px, 1fr)) / repeat(3, minmax(100px, 1fr));
  column-gap: 10px;
}

/* .pokemon-thumbnail .sprite {
  height: 80px;
  width: 80px;
}

.pokemon-thumbnail {
  border-radius: 3px;
  padding: 0;
  cursor: pointer;
} */

.stats {
  /* background-color: salmon; */
  grid-column: 2 / span 2;
}

.stats-table {
  table-layout: auto;
  width: 100%;
}
