.evo-chain-thumbnail {
  border-radius: 3px;
  padding: 8%;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
}

.evo-sprite {
  height: 50%;
  width: 50%;
}

.poke-type {
  margin: 0;
}

/* Thumbnail bg color based on each type of pokemon */
.rock {
  background-color: rgb(148, 81, 81);
}
.ground {
  background-color: rgb(189, 160, 122);
}
.ghost {
  background-color: rgb(247, 247, 247);
}
.electric {
  background-color: rgb(255, 255, 161);
}
.bug {
  background-color: #f6d6a7;
}
.poison {
  background-color: #e0a7f6;
}
.normal {
  background-color: #f4f4f4;
}
.fairy {
  background-color: rgba(255, 192, 203, 0.863);
}
.fire {
  background-color: #fbe3df;
}
.grass {
  background-color: #e2f9e1;
}
.water {
  background-color: #e0f1fd;
}
.psychic,
.fighting,
.dragon,
.dark,
.steel,
.ice {
  background-color: white;
}

.evo-sprite {
  transition: all ease 500ms;
}

.evo-sprite:hover {
  transform: scale(1.05);
  opacity: 0.7;
}
